*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* .background-photo{
    background-image: url(assets/six.jpg);
    background-position: center;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    height: 200px;
   
} */

.customClass{
    backdrop-filter: blur(20px);
    padding-top: 20px;
    padding-bottom: 20px;
}



