*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}


.customClass{
    backdrop-filter: blur(20px);
    padding-top: 20px;
    padding-bottom: 20px;
}


.photoi{
    background-image: url(https://i.ibb.co.com/JRNfqHck/five.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photoii{
    background-image: url(https://i.ibb.co.com/7Nkg09Nh/gaza12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photoiii{
    background-image: url(https://i.ibb.co.com/JFbWTg32/quota12-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photoiv{
    background-image: url(https://i.ibb.co.com/Qjv0tH1K/six.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photov{
    background-image: url(https://i.ibb.co.com/SwmGpYHq/three.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photovi{
    background-image: url(https://i.ibb.co.com/spQjFpdh/two.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }




  
  
  
 


  .photoiInner{
    visibility: hidden;
  }
  .photoiiInner{
    visibility: hidden;
  }
  .photoiiiInner{
    visibility: hidden;
  }
  .photoivInner{
    visibility: hidden;
  }
  .photovInner{
    visibility: hidden;
  }
  .photoviInner{
    visibility: hidden;
  }

  .photoi:hover .photoiInner {
    visibility: visible;
  }
  .photoii:hover .photoiiInner {
    visibility: visible;
  }
  .photoiii:hover .photoiiiInner {
    visibility: visible;
  }
  .photoiv:hover .photoivInner {
    visibility: visible;
  }
  .photov:hover .photovInner {
    visibility: visible;
  }
  .photovi:hover .photoviInner {
    visibility: visible;
  }

  .bannerbg{
    background: rgb(20, 50, 20);
    background: linear-gradient(90deg, rgba(20, 50, 20, 1) 0%, rgba(100, 200, 100, 1) 100%);
  }

  